{{>../header}}

<h1>ENGLISH</h1>
    <section class="hero-banner content-section">
      <img class="hero-banner-bg" src="assets/images/hero-banner.jpg" alt="" />
      <div class="hero-banner-content container">
        <div class="col-sm-4">
        <h2 class="wow fadeInDown h--link" ><a href="contracting/index.html" title="Contracting">Contracting</a></h2>
          <ul class="list-unstyled aspects">
            <li class="wow fadeInRight" data-wow-delay="400ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
            <li class="wow fadeInRight" data-wow-delay="500ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
            <li class="wow fadeInRight" data-wow-delay="600ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
            <li class="wow fadeInRight" data-wow-delay="700ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
            <li class="wow fadeInRight" data-wow-delay="800ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
          </ul>
          <p class="text-right">
            <a href="/contracting/index.html" class="btn btn-theme-dark">Více&hellip;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="wow fadeInDown h--link" data-wow-delay="300ms" ><a href="headhunting/index.html" title="Headhunting">Headhunting</a></h2>
          <ul class="list-unstyled aspects">
            <li class="wow fadeInRight" data-wow-delay="700ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
            <li class="wow fadeInRight" data-wow-delay="800ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
            <li class="wow fadeInRight" data-wow-delay="900ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
            <li class="wow fadeInRight" data-wow-delay="1000ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
            <li class="wow fadeInRight" data-wow-delay="1100ms">
              <i class="fa fa-user"></i>&emsp;Aspekt
            </li>
          </ul>
          <p class="text-right">
            <a href="/contracting/index.html" class="btn btn-theme-dark">Více&hellip;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="wow fadeInDown" data-wow-delay="600ms" >Pozice na míru</h2>
          <ul class="list-unstyled icon-list">
            <li class="wow fadeIn" data-wow-delay="700ms">
              <i class="fa fa-database"></i>
              <div>Databázový specialista</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="800ms">
              <i class="fa fa-html5"></i>
              <i class="fa fa-css3"></i>
              <div>Kodér</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="900ms">
              <i class="fa fa-html5"></i>
              <i class="fa fa-css3"></i>
              <div>Kodér</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="1000ms">
              <i class="fa fa-html5"></i>
              <i class="fa fa-css3"></i>
              <div>Kodér</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="1100ms">
              <i class="fa fa-html5"></i>
              <i class="fa fa-css3"></i>
              <div>Kodér</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="1200ms">
              <i class="fa fa-html5"></i>
              <i class="fa fa-css3"></i>
              <div>Kodér</div>
            </li>

          </ul>
          <p class="text-right">
            <a href="/contracting/index.html" class="btn btn-theme-dark">Ukázka obsazených pozic</a>
          </p>
        </div>
      </div>
    </section>

    <section class="fun-fact-wrap fun-facts-bg content-section section-v-cislech">
      <div class="container">
        <div class="col-md-4 facts-in">
          <h3><span class="counter">1000</span>+</h3>
          <h4>Obsazených pozic</h4>
        </div><!--facts in-->
        <div class="col-md-4 facts-in">
          <h3><span class="counter">850</span>+</h3>
          <h4>Evidovaných uchazečů</h4>
        </div><!--facts in-->
        <div class="col-md-4 facts-in">
          <h3><span class="counter">100</span>+</h3>
          <h4>Spokojených klientů</h4>
        </div><!--facts in-->
      </div>
    </section><!--fun facts-->

    <section class="content-section section-nasi-klienti">
      <div class="container">
        <div class="center-heading col-sm-8 col-sm-offset-2 no-margin-bottom">
          <h2>Naši klienti</h2>
          <span class="center-line"></span>
        </div>
      </div>
      <div class="logo-strip">
        <img src="assets/images/logos/logo1.png" alt="logo" height="40" />
        <img src="assets/images/logos/logo2.png" alt="logo" height="40" />
        <img src="assets/images/logos/logo3.png" alt="logo" height="40" />
        <img src="assets/images/logos/logo4.png" alt="logo" height="40" />
        <img src="assets/images/logos/logo5.png" alt="logo" height="40" />
        <img src="assets/images/logos/logo6.png" alt="logo" height="40" />
      </div>
    </section>

    <section class="testimonials-v-2 section-darker section-reference" >
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
              <h2 class="h--link"><a href="/reference/index.html" title="Reference">Reference</a></h2>
              <span class="center-line"></span>
            </div>
          </div>
        </div><!--center heading end-->


        <div class="testi-slide">
          <ul class="slides">
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/customer-1.jpg" alt="" />
                    <div class="person-name">Aneta Lipská</div>
                    <em class="person-position">HR Specialist</em>
                    <div class="person-company">Reiffeisenbank a.s.</div>
                    <div class="person-date">30/06/2015</div>
                  </div>
                  <div class="col-sm-9">
                    <p>“Ráda bych pochválila spolupráci se společností CV Relevant,&nbsp;s.r.o.,
                    <cite>CENÍM SI KVALITY ZASLANÝCH KANDIDÁTŮ,</cite>
                    ale také rychlosti jejich dodání, i když se často jedná o velmi
                    náročné pozice, kde jiné agentury nemají úspěchy a nedodá-
                    vají žádné kandidáty. Za celou dobu spolupráce se nestalo,
                    že by nebylo reagováno na mail či telefon, komunikace je
                    rychlá a efektivní. Oceňuji také stručnou charakteristiku
                    zasílaných kandidátů, která vystihuje jejich zkušenosti, ale i
                    osobnostní profil. Kandidáti ví mnoho podrobností o pozici,
                    nestává se, že by přišel kandidát, který by nevěděl, o co se
                    jedná, nebo jeho zájem byl nedostatečný. Děkuji za spolupráci
                    a ať se Vám daří.“</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/customer-1.jpg" alt="" />
                    <div class="person-name">Aneta Lipská</div>
                    <em class="person-position">HR Specialist</em>
                    <div class="person-company">Reiffeisenbank a.s.</div>
                    <div class="person-date">30/06/2015</div>
                  </div>
                  <div class="col-sm-9">
                    <p>“Ráda bych pochválila spolupráci se společností CV Relevant,&nbsp;s.r.o.,
                    <cite>CENÍM SI KVALITY ZASLANÝCH KANDIDÁTŮ,</cite>
                    ale také rychlosti jejich dodání, i když se často jedná o velmi
                    náročné pozice, kde jiné agentury nemají úspěchy a nedodá-
                    vají žádné kandidáty. Za celou dobu spolupráce se nestalo,
                    že by nebylo reagováno na mail či telefon, komunikace je
                    rychlá a efektivní. Oceňuji také stručnou charakteristiku
                    zasílaných kandidátů, která vystihuje jejich zkušenosti, ale i
                    osobnostní profil. Kandidáti ví mnoho podrobností o pozici,
                    nestává se, že by přišel kandidát, který by nevěděl, o co se
                    jedná, nebo jeho zájem byl nedostatečný. Děkuji za spolupráci
                    a ať se Vám daří.“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/customer-1.jpg" alt="" />
                    <div class="person-name">Aneta Lipská</div>
                    <em class="person-position">HR Specialist</em>
                    <div class="person-company">Reiffeisenbank a.s.</div>
                    <div class="person-date">30/06/2015</div>
                  </div>
                  <div class="col-sm-9">
                    <p>“Ráda bych pochválila spolupráci se společností CV Relevant,&nbsp;s.r.o.,
                    <cite>CENÍM SI KVALITY ZASLANÝCH KANDIDÁTŮ,</cite>
                    ale také rychlosti jejich dodání, i když se často jedná o velmi
                    náročné pozice, kde jiné agentury nemají úspěchy a nedodá-
                    vají žádné kandidáty. Za celou dobu spolupráce se nestalo,
                    že by nebylo reagováno na mail či telefon, komunikace je
                    rychlá a efektivní. Oceňuji také stručnou charakteristiku
                    zasílaných kandidátů, která vystihuje jejich zkušenosti, ale i
                    osobnostní profil. Kandidáti ví mnoho podrobností o pozici,
                    nestává se, že by přišel kandidát, který by nevěděl, o co se
                    jedná, nebo jeho zájem byl nedostatečný. Děkuji za spolupráci
                    a ať se Vám daří.“</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/customer-1.jpg" alt="" />
                    <div class="person-name">Aneta Lipská</div>
                    <em class="person-position">HR Specialist</em>
                    <div class="person-company">Reiffeisenbank a.s.</div>
                    <div class="person-date">30/06/2015</div>
                  </div>
                  <div class="col-sm-9">
                    <p>“Ráda bych pochválila spolupráci se společností CV Relevant,&nbsp;s.r.o.,
                    <cite>CENÍM SI KVALITY ZASLANÝCH KANDIDÁTŮ,</cite>
                    ale také rychlosti jejich dodání, i když se často jedná o velmi
                    náročné pozice, kde jiné agentury nemají úspěchy a nedodá-
                    vají žádné kandidáty. Za celou dobu spolupráce se nestalo,
                    že by nebylo reagováno na mail či telefon, komunikace je
                    rychlá a efektivní. Oceňuji také stručnou charakteristiku
                    zasílaných kandidátů, která vystihuje jejich zkušenosti, ale i
                    osobnostní profil. Kandidáti ví mnoho podrobností o pozici,
                    nestává se, že by přišel kandidát, který by nevěděl, o co se
                    jedná, nebo jeho zájem byl nedostatečný. Děkuji za spolupráci
                    a ať se Vám daří.“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
          </ul>
        </div><!--flex slider testimonials end here-->

      </div>
    </section><!--testimonials v-2 end-->

    <section class="our-team content-section section-tym">
      <div class="center-heading container">
        <h2>Tým</h2>
        <span class="center-line"></span>
      </div>
      <div class="container">
        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="assets/images/team-5.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3>ing. Petr Prokša</h3>
              <em>pozice / specializace</em>
              <p>
                <i class="fa fa-phone"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000<br />
                <a href="mailto:petr.proksa@cvrelevant.cz" title="poslat e-mail na petr.proksa@cvrelevant.cz" >petr.proksa@cvrelevant.cz</a>
              </p>
            </div>
          </div>
        </div><!--person col end-->
        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="assets/images/team-5.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3>ing. Petr Prokša</h3>
              <em>pozice / specializace</em>
              <p>
                <i class="fa fa-phone"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000<br />
                <a href="mailto:petr.proksa@cvrelevant.cz" title="poslat e-mail na petr.proksa@cvrelevant.cz" >petr.proksa@cvrelevant.cz</a>
              </p>
            </div>
          </div>
        </div><!--person col end-->
        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="assets/images/team-5.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3>ing. Petr Prokša</h3>
              <em>pozice / specializace</em>
              <p>
                <i class="fa fa-phone"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000<br />
                <a href="mailto:petr.proksa@cvrelevant.cz" title="poslat e-mail na petr.proksa@cvrelevant.cz" >petr.proksa@cvrelevant.cz</a>
              </p>
            </div>
          </div>
        </div><!--person col end-->
        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="assets/images/team-5.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3>ing. Petr Prokša</h3>
              <em>pozice / specializace</em>
              <p>
                <i class="fa fa-phone"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000<br />
                <a href="mailto:petr.proksa@cvrelevant.cz" title="poslat e-mail na petr.proksa@cvrelevant.cz" >petr.proksa@cvrelevant.cz</a>
              </p>
            </div>
          </div>
        </div><!--person col end-->

      </div>
    </section><!--our team v-2-->

    <section class="content-section section-darker section-etika-pomahame">
      <div class="container">
        <div class="col-sm-4 etika">
          <div class="center-heading">
            <h2>Etika</h2>
            <span class="center-line"></span>
          </div>
          <div>
            <ul class="list-inline icon-list">
              <li>
                <i class="fa fa-certificate"></i>
                <div>Zásada</div>
              </li>
              <li>
                <i class="fa fa-certificate"></i>
                <div>Zásada</div>
              </li>
              <li>
                <i class="fa fa-certificate"></i>
                <div>Zásada</div>
              </li>
              <li>
                <i class="fa fa-certificate"></i>
                <div>Zásada</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 section-pomahame">
          <div class="center-heading">
            <h2>Pomáháme</h2>
            <span class="center-line"></span>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-3 person" >
              <img src="assets/images/customer-1.jpg" alt="" />
              <div class="person-name">Aneta Lipská</div>
              <em class="person-position">HR Specialist</em>
              <div class="person-company">Reiffeisenbank a.s.</div>
              <div class="person-date">30/06/2015</div>
            </div>
            <div class="col-xs-6 col-sm-3 person" >
              <img src="assets/images/customer-1.jpg" alt="" />
              <div class="person-name">Aneta Lipská</div>
              <em class="person-position">HR Specialist</em>
              <div class="person-company">Reiffeisenbank a.s.</div>
              <div class="person-date">30/06/2015</div>
            </div>
            <div class="col-xs-6 col-sm-3 person" >
              <img src="assets/images/customer-1.jpg" alt="" />
              <div class="person-name">Aneta Lipská</div>
              <em class="person-position">HR Specialist</em>
              <div class="person-company">Reiffeisenbank a.s.</div>
              <div class="person-date">30/06/2015</div>
            </div>
            <div class="col-xs-6 col-sm-3 person" >
              <img src="assets/images/customer-1.jpg" alt="" />
              <div class="person-name">Aneta Lipská</div>
              <em class="person-position">HR Specialist</em>
              <div class="person-company">Reiffeisenbank a.s.</div>
              <div class="person-date">30/06/2015</div>
            </div>
          </div>
        </div>

      </div>
    </section>

{{>../footer}}
