{{>../../header active='headhunting' lang='en'}}

<div class="container">
  <article class="blog-post">
    <div class="blog-post-title-image">
      <img src="/assets/images/showcase-2.jpg" class="img-responsive" alt="">
    </div>

    <h1>Headhunting</h1>

    <p class="lead">
      Standardně využíváme inzertní metody (pracovní weby), po dohodě s klientem jsme připraveni také zajistit tištěnou inzerci. V případě úzce specializovaných pozic, s jejichž obsazením se na nás klienti často obracejí, se ukazuje, že je účinnější také pro tyto pozice využívat zkušenosti z přímého vyhledávání.
    </p>

    <p>
      Klientovi prezentujeme jen relevantní životopisy kandidátů, nezahlcujeme ho profily, které požadavkům na úspěšné obsazení pozice neodpovídají. Všechny kandidáty důsledně informujeme o průběhu a výsledku výběrového řízení.
    </p>

  </article>
</div>

{{>../../footer-en}}
