{{>../header active='obsazene-pozice' lang='cs'}}

<div class="container">
  <article class="blog-post">
    <div class="blog-post-title-image">
      <img src="/assets/images/ukazka-obsazenych-pozic.jpg" class="img-responsive" alt="">
    </div>

    <h1>Obsazené pozice</h1>

    <p class="lead">
      Specializujeme na vyhledávání IT expertů a manažerů. Často se na nás obracejí klienti ve chvíli, kdy jejich vlastní náborový proces selhal, nebo kdy jiní HR dodavatelé nedokázali po několika měsících zadané pozice obsadit. V oblasti běžně obsazovaných pracovních pozic se vyznačujeme vysokou rychlostí prezentovaných kandidátů. Díky manažerským zkušenostem partnerů a tomu odpovídající komunikaci s kandidáty i klienty nabízíme i Executive Search na vysoce manažerské role.
    </p>

    <ul class="text-columns">
      <li>Head of Analysts team</li>
      <li>Infrastructure architect</li>
      <li>Oracle Developer</li>
      <li>Project Manager</li>
      <li>Business Analyst</li>
      <li>IT Analyst</li>
      <li>Head of QA / Test Dept.</li>
      <li>Senior DWH Architect</li>
      <li>Senior BI Developer</li>
      <li>CIO</li>
      <li>Solution Architect</li>
      <li>Senior SAP Developer</li>
      <li>Middleware Administrator</li>
      <li>BI Analyst</li>
      <li>Enterprise Architect</li>
      <li>Security Officer</li>
      <li>DELPHI Developer</li>
      <li>COBOL Developer</li>
      <li>DB Admin (Oracle)</li>
      <li>MS Lync Administrator</li>
      <li>Senior Consultant (AXAPTA)</li>
      <li>QA Manager</li>
      <li>Senior JAVA Developer</li>
      <li>Senior PHP Developer</li>
      <li>VM Ware Administrator</li>
      <li>Networking Administrator</li>
      <li>Senior Business Analyst (UML/ARIS/EA)</li>
      <li>AS/400 Administrator</li>
      <li>FE Developer</li>
      <li>Openstack Expert</li>
      <li>Java Architect</li>
      <li>SW Engineer principal architekt (Enterprise)</li>
      <li>BI Analyst (COGNOS)</li>
      <li>IT automation process expert</li>
      <li>Android developer</li>
      <li>Integration / Solution Architect</li>
      <li>PMG Application Administrator (Middleware)</li>
      <li>TP.Net Admin</li>
      <li>VMWare Tem Leader</li>
      <li>Security analyst/pentester</li>
      <li>Consultant/Architect reporting</li>
      <li>Solution Architect (Webmethods)</li>
      <li>Senior MIDAS Analyst</li>
      <li>ABAP Developer</li>
      <li>SAP MM / SD / WM Consultant</li>
      <li>iOS Developer</li>
      <li>FoxPro Developer</li>
      <li>Principal Developer Oracle EBS</li>
      <li>Application Administrator</li>
      <li>Voice Engineer</li>
    </ul>

  </article>
</div>

{{>../footer-cs}}
