{{>../header active='obsazene-pozice' lang='cs'}}

<div class="container">
  <article class="blog-post">
    <div class="blog-post-title-image">
      <img src="/assets/images/ukazka-obsazenych-pozic.jpg" class="img-responsive" alt="">
    </div>

    <h1>Obsazené pozice</h1>

    <p class="lead">
      Specializujeme na vyhledávání IT expertů a manažerů. Často se na nás obracejí klienti ve chvíli, kdy jejich vlastní náborový proces selhal, nebo kdy jiní HR dodavatelé nedokázali po několika měsících zadané pozice obsadit. V oblasti běžně obsazovaných pracovních pozic se vyznačujeme vysokou rychlostí prezentovaných kandidátů. Díky manažerským zkušenostem partnerů a tomu odpovídající komunikaci s kandidáty i klienty nabízíme i Executive Search na vysoce manažerské role.
    </p>

    <ul>
      <li>Vedoucí týmu analytiků</li>
      <li>Infrastrukturní architekt</li>
      <li>Oracle Developer</li>
      <li>Project Manager</li>
      <li>Business Analyst</li>
      <li>Vedoucí odboru QA a testování</li>
      <li>Senior DWH Architect</li>
      <li>Senior BI Developer</li>
      <li>Vedoucí IT oddělení</li>
      <li>Solution Architect</li>
      <li>Java Developer</li>
    </ul>

  </article>
</div>

{{>../footer-cs}}
