    <footer id="footer">
      <div class="scroll-anchor" id="kontakt"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 margin30 mapa">
            <a href="https://www.google.cz/maps/place/Náměstí+Míru+341%2F15,+120+00+Praha+2-Vinohrady/" target="_blank"><img src="/assets/images/mapa.png" alt="" /></a>
          </div><!--footer col-->
          <div class="col-md-8 col-sm-6 margin30">
            <div class="footer-col">
              <h3>Neváhejte nás kontaktovat</h3>

              <div class="row">

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6">
                      <p>
                        <i class="fa fa-map-marker"></i>&ensp;<strong>Adresa:</strong>
                        <address>
                          CV Relevant s.r.o<br />
                          Náměstí Míru 341 / 15<br />
                          120 00 Praha 2<br />
                          Česká republika
                        </address>
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <p>
                        <strong>sídlo společnosti</strong><br />
                        <address>
                        CV Relevant s.r.o<br />
                        Opletalova 1535/4<br />
                        110 00 Praha 1<br />
                        Česká republika
                        </address>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <ul class="list-unstyled contact">
                    <li class="contact-main"><i class="fa fa-phone" aria-label="Telefon"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000</li>
                    <li class="contact-main h--link"><i class="fa fa-envelope" aria-label="E-mail"></i>&ensp;<a href="mailto:info@cvrelevant.cz" title="poslat e-mail na info@cvrelevant.cz" >info@cvrelevant.cz</a></li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <p>Povolení ke zprostředkování zaměstnání Úřadu práce ČR: MPSV-UP/4689/13/ÚPČR/4.</p>
                  <address>
                    <strong>PGS parkování</strong><br />
                    Parkovací dům<br />
                    Adresa: Vinohradská 2516/28, 120 00 Praha<br />
                    Telefon:731 466 081<br />
                    Otevírací doba: 24 hod (je možná telefonická rezervace)
                  </address>
                </div>
              </div>

            </div>
          </div><!--footer col-->
        </div>
        <div class="row">
          <div class="col-md-12 text-center margin30">
            <span>&copy; <a href="https://cz.linkedin.com/in/tomasreichmann" title="Tomáš Reichmann na LinkedIn">Tomáš Reichmann</a> 2017</span>
          </div>
        </div>
      </div>
    </footer><!--default footer end here-->

    {{>footer}}
