<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="CV Relevant je konzultační a personální společnost, která se zaměřuje především na služby Executive Search, Recruitment a IT Contracting." >
    <meta name="description" content="CV Relevant je konzultační a personální společnost, která se zaměřuje především na služby Executive Search, Recruitment a IT Contracting. Konzultanti CV Relevant vyhledávají vhodné kandidáty prostřednictvím osobních kontaktů, doporučení a s použitím databáze. Předností našich konzultantů je jejich dlouhodobá praxe v manažerských pozicích, jejichž samozřejmou součástí byla personální práce." >
    <style>
      body {
        display: none;
      }
    </style>
    <title>CV Relevant znamená personální řešení</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!--navigation -->
    <!-- Static navbar -->
    <nav id="navigation" class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Přepnout navigaci</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html"><img src="assets/images/logo.gif" alt="cv relevant"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right navbar-language">
            <li>
              <a href="/en/index.html" >English</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/contracting/index.html" >Contracting</a>
            </li>
            <li>
              <a href="/headhunting/index.html" >Headhunting</a>
            </li>
            <li>
              <a href="/obsazene-pozice/index.html" >Obsazené pozice</a>
            </li>
            <li>
              <a href="/reference/index.html" >Reference</a>
            </li>
            <li>
              <a href="#kontakt" >Kontakt</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--container-->
    </nav><!--navbar-default-->
