{{>header active='cs' lang='cs'}}
    <section class="hero-banner content-section">
      <img class="hero-banner-bg" src="/assets/images/hero-banner.jpg" alt="" />
      <div class="hero-banner-content container">
        <div class="col-sm-4">
        <!--h2 class="wow fadeInDown h--link" ><a href="/contracting/index.html" title="Contracting">Contracting</a></h2-->
        <h2 class="wow fadeInDown h--link" >Contracting</h2>
          <ul class="list-unstyled aspects">
            <li class="wow fadeInRight" data-wow-delay="400ms">
              <i class="fa fa-user"></i>Nabídka IT expertů
            </li>
            <li class="wow fadeInRight" data-wow-delay="500ms">
              <i class="fa fa-user"></i>Technologická specializace
            </li>
            <li class="wow fadeInRight" data-wow-delay="600ms">
              <i class="fa fa-user"></i>Referencemi ověření specialisté
            </li>
            <li class="wow fadeInRight" data-wow-delay="700ms">
              <i class="fa fa-user"></i>Rychlost
            </li>
          </ul>
          <!--p class="text-right">
            <a href="/contracting/index.html" class="btn btn-theme-dark">Více&hellip;</a>
          </p-->
        </div>
        <div class="col-sm-4">
          <!--h2 class="wow fadeInDown h--link" data-wow-delay="300ms" ><a href="/headhunting/index.html" title="Headhunting">Headhunting</a></h2-->
          <h2 class="wow fadeInDown h--link" data-wow-delay="300ms" >Headhunting</h2>
          <ul class="list-unstyled aspects">
            <li class="wow fadeInRight" data-wow-delay="700ms">
              <i class="fa fa-user"></i>Executive Search
            </li>
            <li class="wow fadeInRight" data-wow-delay="800ms">
              <i class="fa fa-user"></i>Osobní kontakty
            </li>
            <li class="wow fadeInRight" data-wow-delay="900ms">
              <i class="fa fa-user"></i>Doporučení
            </li>
            <li class="wow fadeInRight" data-wow-delay="1000ms">
              <i class="fa fa-user"></i>Manažerská zkušenost
            </li>
            <li class="wow fadeInRight" data-wow-delay="1100ms">
              <i class="fa fa-user"></i>Partnerský přístup
            </li>
          </ul>
          <!--p class="text-right">
            <a href="/contracting/index.html" class="btn btn-theme-dark">Více&hellip;</a>
          </p-->
        </div>
        <div class="col-sm-4">
          <h2 class="wow fadeInDown" data-wow-delay="600ms" >Relevantní pozice</h2>
          <ul class="list-unstyled icon-list">
            <li class="wow fadeIn" data-wow-delay="800ms">
              <i class="fa fa-pie-chart"></i>
              <div>Vedoucí týmu analytiků</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="700ms">
              <i class="fa fa-road"></i>
              <div>Infrastrukturní architekt</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="900ms">
              <i class="fa fa-database"></i>
              <div>Oracle Developer</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="1000ms">
              <i class="fa fa-users"></i>
              <div>Project Manager</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="1100ms">
              <i class="fa fa-line-chart"></i>
              <div>Business Analyst</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="1200ms">
              <i class="fa fa-bug"></i>
              <div>Vedoucí oboru QA</div>
            </li>
          </ul>

          <p class="text-right wow fadeIn" data-wow-delay="1400ms">
            <a href="/obsazene-pozice/index.html" class="btn btn-theme-dark">Ukázky obsazených pozic</a>
          </p>
        </div>

      </div>
    </section>

    <section class="services">
      <div class="container">
        <div class="col-md-3 col-sm-6">
          <div class="colored-boxed" id="executive-search">
            <div class="services-icon"><img class="wow fadeInDown" data-wow-delay="100ms" src="/assets/images/icons/executive-search.svg" alt="" /></div>
            <h3 class="h--link wow fadeInDown" data-wow-delay="100ms">Executive Search</h3>
            <span class="center-line"></span>
            <ul class="list-unstyled wow fadeIn" data-wow-delay="200ms">
              <li>seniorita konzultantů</li>
              <li>osobní kontakty a doporučení</li>
              <li>komunikační dovednosti</li>
              <li>spokojenost klienta</li>
              <li>manažerská zkušenost</li>
              <li>partnerský přístup</li>
            </ul>
          </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="colored-boxed" id="recruitment">
              <div class="services-icon"><img class="wow fadeInDown" data-wow-delay="500ms" src="/assets/images/icons/recruitment.svg" alt="" /></div>
              <h3 class="h--link wow fadeInDown" data-wow-delay="500ms">Recruitment</h3>
              <span class="center-line"></span>
              <ul class="list-unstyled wow fadeIn" data-wow-delay="600ms">
                <li>inzerce na pracovních portálech</li>
                <li>inzerce na sociálních sítích</li>
                <li>přímé vyhledávání</li>
                <li>prezentace jen relevantních profilů</li>
                <li>informovanost o průběhu výběrového řízení</li>
                <li>Informovanost o výsledku výběrového řízení</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="colored-boxed" id="personalni-poradenstvi">
              <div class="services-icon"><img class="wow fadeInDown" data-wow-delay="1000ms" src="/assets/images/icons/personalni-poradenstvi.svg" alt="" /></div>
              <h3 class="h--link wow fadeInDown" data-wow-delay="1000ms">Personální poradenství</h3>
              <span class="center-line"></span>
              <ul class="list-unstyled wow fadeIn" data-wow-delay="1100ms">
                <li>spolupráce s klientem při definici pozice</li>
                <li>stanovení platového rozpětí</li>
                <li>platová mapa</li>
                <li>pomoc při sestavení CV</li>
                <li>diskuse o profesní kariéře</li>
                <li>prezentace při pohovoru</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
          <div class="colored-boxed" id="it-contracting">
              <div class="services-icon"><img class="wow fadeInDown" data-wow-delay="1500ms" src="/assets/images/icons/it-contracting.svg" alt="" /></div>
              <h3 class="h--link wow fadeInDown" data-wow-delay="1500ms">IT Contracting</h3>
              <span class="center-line"></span>
              <ul class="list-unstyled wow fadeIn" data-wow-delay="1600ms">
                <li>nabídka IT expertů</li>
                <li>technologická specializace</li>
                <li>referencemi ověření specialisté</li>
                <li>rychlost</li>
                <li>kontinuita spolupráce</li>
                <li>databáze expertů</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!--fun facts-->

    <section class="fun-fact-wrap fun-facts-bg content-section section-v-cislech">
      <div class="container">
        <div class="col-sm-4 facts-in">
          <h3><span class="counter">267</span></h3>
          <h4>Obsazených pozic</h4>
        </div><!--facts in-->
        <div class="col-sm-4 facts-in">
          <h3><span class="counter">8765</span></h3>
          <h4>Evidovaných uchazečů</h4>
        </div><!--facts in-->
        <div class="col-sm-4 facts-in">
          <h3><span class="counter">59</span></h3>
          <h4>Otevřených pozic</h4>
        </div><!--facts in-->
      </div>
    </section><!--fun facts-->

    <section class="content-section section-nasi-klienti" id="nasi-klienti">
      <div class="container">
        <div class="center-heading col-sm-8 col-sm-offset-2 no-margin-bottom">
          <h2>Naši klienti</h2>
          <span class="center-line"></span>
        </div>
      </div>
      <div class="logo-strip">
        <a href="https://www.rb.cz/osobni" target="_blank"><img src="http://img.firmy.cz/logo/medium/201309/0307/a0/52258e12a0bef1c79a260000?v=1" width="90" alt="Raiffeisenbank a.s."></a>
        <img src="/assets/images/logos/sinnerschrader-praha.png" width="90" alt="Sinnerschrader Praha, s.r.o.">
        <img src="/assets/images/logos/ppf.png" width="90" alt="Raventia, s.r.o.">
        <img src="http://img.firmy.cz/logo/medium/201202/2910/a3/4f4e03e4a38c0966cb1d0000?v=1" width="90" alt="Your System, spol. s r.o.">
        <img class="small_logo" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAATKAAAAJGM5MzMyOTlhLTE5YzAtNGMyNi1hYmJjLWYxNzJkNWYwZTIyOQ.png" width="90" alt="Softec CZ, spol. s r.o.">
        <img src="http://img.firmy.cz/logo/medium/201404/1514/d9/534d448fd9cafde1ac1a0000?v=1" width="90" alt="Českomoravská stavební spořitelna, a.s.">
        <img src="http://img.firmy.cz/logo/medium/201404/0819/a2/534447f5a2d0d806b5130000?v=1" width="90" alt="Algotech BSC, s.r.o">
        <img src="http://img.firmy.cz/logo/medium/201202/2416/65/4f47bea3651e62e228200000?v=1" width="90" alt="DATART.cz">
        <img src="/assets/images/logos/mountfield.png" width="90" alt="Mountfield">
        <img src="http://img.firmy.cz/logo/medium/201212/1710/30/50cef932305ecb47a5130000?v=1" width="90" alt="Allianz pojišťovna, a.s.">
        <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAO5AAAAJGYwYzEyNDkxLThmNmEtNDcwOS1hYmIyLTEyYWUzNmY0NDVlMQ.png" width="90" alt="Trask solutions a.s.">
        <img src="/assets/images/logos/fio.gif" width="90" alt="Unicorn a.s.">
        <img src="http://static.voyo.cz.prg.cmestatic.com/static/cz/shared/img/eshop/linear/product_28992.png?a" width="90" alt="CET 21 spol. s r.o.">
      </div>
    </section>

    <section class="testimonials-v-2 section-darker section-reference" id="reference" >
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
              <!--h2 class="h--link"><a href="/reference/index.html" title="Reference">Reference</a></h2-->
              <h2 class="h--link">Reference</h2>
              <span class="center-line"></span>
            </div>
          </div>
        </div><!--center heading end-->


        <div class="testi-slide">
          <ul class="slides">
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/ref-aneta-t.jpg" alt="" />
                    <div class="person-name">Aneta T.</div>
                    <em class="person-position">HR Specialist</em>
                    <div class="person-company">Reiffeisenbank a.s.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>“Ráda bych pochválila spolupráci se společností CV Relevant, s.r.o., Cením si kvality zaslaných kandidátů, ale také rychlosti jejich dodání, i když se často jedná o <cite>velmi náročné pozice</cite>, kde jiné agentury nemají úspěchy a nedodávají žádné kandidáty. Za celou dobu spolupráce se nestalo, že by nebylo reagováno na mail či telefon, <cite>komunikace je rychlá a efektivní</cite>. Oceňuji také stručnou charakteristiku zasílaných kandidátů, která vystihuje jejich zkušenosti, ale i osobnostní profil. Kandidáti ví mnoho podrobností o pozici, nestává se, že by přišel kandidát, který by nevěděl, o co se jedná, nebo jeho zájem byl nedostatečný. Děkuji za spolupráci a ať se Vám daří. “</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/ref-radka-k.jpg" alt="" />
                    <div class="person-name">Radka K.</div>
                    <div class="person-company">Mountfield</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Díky velice <cite>profesionálnímu a aktivnímu přístupu konzultantů</cite> ze společnosti CV Relevant s.r.o. jsme našli hned několik <cite>ideálních kandidátů</cite> na námi obsazovanou pozici Systémového architekta a naše síly jsme tak mohli soustředit na výběr nejvhodnějšího z nich. <cite>Úspěšnost doporučených kandidátů</cite> je pro nás jasným ukazatelem, že kandidáti byli vybráni s velkou pečlivostí a před pohovorem u nás byli vybaveni relevantními informacemi o pozici i o naší společnosti. <cite>Komunikace a přístup</cite> byl kladně hodnocen i ze strany kandidátů. Děkujeme a vřele doporučujeme. S přáním pěkného dne, Radka K.“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/ref-jozef-z.jpg" alt="" />
                    <div class="person-name">Josef Z.</div>
                    <em class="person-position">PHP senior konzultant</em>
                    <div class="person-company">Praha</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Poprvé mi CV Relevant našla pozici vývojáře pro TV NOVA v urgentním termínu a druhá příjemná zkušenost byla o 2 roky později, kdy jsem dostal nabídku <cite>s výrazně zajímavějším platovým ohodnocením</cite> pro německou agenturu, ve které jsem dodnes. Celkově jsem se spoluprací velmi spokojen, vždy jsme s p. Prokšou našli společnou řeč. <cite>Profesionalita a spokojenost všech zúčastněných stran</cite> je pro ně na prvním místě.“</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/ref-kamil-b.jpg" alt="" />
                    <div class="person-name">Kamil B.</div>
                    <em class="person-position">senior Oracle PL/SQL Developer</em>
                    <div class="person-company">freelancer</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Když jsem začal hledat uplatnění v Praze, bylo pro mě jednání ze strany CV Relevant s.r.o příjemnou změnou. Osobní pohovor probíhal <cite>věcně k oboru</cite>, přátelsky a s osobním přístupem. Poskytl mi zajímavé srovnání vlastních zkušeností se zkušenostmi z dlouholeté praxe společnosti na vývoji softwarových systémů.
                    V CV Relevant s.r.o. mi zprostředkovali práci na zajímavém projektu, pomohli mi cennými radami a ulehčili začátek podnikání. <cite>Spolupráce s CV Relevant s.r.o. je profesionální, spolehlivá a rozhodně ji vsem doporučuji.</cite>“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/ref-zdenek-c.jpg" alt="" />
                    <div class="person-name">Zdeněk Č.</div>
                    <em class="person-position">Head of Application Development</em>
                    <div class="person-company">Reiffeisenbank a.s.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Dlouho jsme se snažili obsadit v IT poměrně úzkoprofilovou pozici a přes poměrně intenzivní spolupráci s agenturami a hledání vlastními silami jsme nedokázali najít téměř žádného kandidáta s požadovaným profilem. Po navázání spolupráce se společností CV Relevant, s.r.o. nám dokázala v krátké době dodat velmi kvalitní seznam i s kvalitním hodnocením nalezených uchazečů. Osobně jsem byl nadšen nejen tím, že uspěla, kde jiní selhali, moc se mi líbil celý přístup k náboru, hodnocení kandidátů a příjemná a velmi <cite>precizní komunikace</cite>. Mohli jsme se tak už jen soustředit na vlastní <cite>výběr nejlepšího kandidáta</cite>. Děkuji.“</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/icon-female.jpg" alt="" />
                    <div class="person-name">Lenka K.</div>
                    <em class="person-position">HR Specialista</em>
                    <div class="person-company">DATART INTERNATIONAL, a. s.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„<cite>Spolupráce se společností CV Relevant je velmi profesionální, příjemná a efektivní.</cite> Reporty o kandidátech jsou velmi precizní a podrobné. Oceňuji také snahu zjistit co nejvíce informací o naší společnosti, konkrétním týmu a způsobu práce. Domnívám se, že je to nejlepší postup, jak najít vhodné kandidáty. <cite>Se všemi kandidáty, které jsme společně našli, jsme spokojeni.</cite>“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/ref-lubomir-j.jpg" alt="" />
                    <div class="person-name">Lubomir J.</div>
                    <em class="person-position">Managing Director</em>
                    <div class="person-company">GDF SUEZ Prodej plynu s.r.o.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Firma GDF SUEZ začala působit na českém energetickém trhu po jeho liberalizaci v roce 2010. Protože většina ostatních firem se v ČR již tou dobou na poli energetiky etablovala, byli jsme nuceni si urychleně vytvořit síť spolehlivých partnerů a nadprůměrně efektivních dodavatelů. Firma CV Relevant je jedním z nich. Umožňuje nám efektivně najít ty nejkvalitnější zaměstnance a partnery a začlenit je do našeho kolektivu.“</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/ref-pavel-f.jpg" alt="" />
                    <div class="person-name">Pavel F.</div>
                    <em class="person-position">Business Development Manager</em>
                    <div class="person-company">CapacityPro, s.r.o.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Díky nasazení a odbornosti konzultantů ze společnosti CV Relevant jsme byli schopni ve velice krátkém čase obsadit námi požadované pozice. Velkou předností CV Relevant je to, že dokáží udělat velice dobře <cite>výběr vhodných kandidátů</cite>, kteří plně odpovídají zadaným požadavkům. Nakonec pro nás bylo nejtěžší si vybrat toho nejlepšího uchazeče, protože všichni doporučení kandidáti byli velice dobří.“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/ref-lukas-c.jpg" alt="" />
                    <div class="person-name">Lukáš C.</div>
                    <em class="person-position">Sales Director</em>
                    <div class="person-company">Siemens Enterprise Communications s.r. o.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Spolupráce s agenturou CV Relevant byla pro mne velmi pozitivní především díky tomu, že opravdu velmi rychle pochopili naše potřeby a požadavky, které hledaní kandidáti museli splňovat. Díky tomu se nám od samého začátku spolupráce velmi rychle dařilo nalézt ty kandidáty, kteří splňovali naše představy. Velmi kladně také vnímám nadstandardní podporu ze strany CV Relevant při zajišťování "back office" podpory v době rekonstrukce sídla naší společnosti.“</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="/assets/images/icon-male.png" alt="" />
                    <div class="person-name">Pavel Z.</div>
                    <em class="person-position">Senior Developer .NET</em>
                    <div class="person-company">Oracle, Praha</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Vážení, ještě jednou děkuji za spolupráci a za zprostředkování mého nového zaměstnání. Spolupráce ze strany společnosti CV Relevant, s.r.o. byla <cite>vysoce profesionální</cite>, osobní pohovor byl veden v přátelském duchu, kdy však obě strany získaly potřebné informace. Díky Vám se mi podařilo získat velice zajímavou práci v nadnárodní finanční instituci za velmi zajímavých finančních podmínek. Spolupráci se společností <cite>CV Relevant, s.r.o. mohu doporučit všem uchazečům</cite>, kteří hledají novou zajímavou práci.“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->

          </ul>
        </div><!--flex slider testimonials end here-->

      </div>
    </section><!--testimonials v-2 end-->

    <section class="our-team content-section section-tym" id="tym">
      <div class="center-heading container">
        <h2>Tým</h2>
        <span class="center-line"></span>
      </div>
      <div class="container">

        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="/assets/images/tym/petr-proksa.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3 class="h--link"><a class="person-bio" href="javascript:void(0)" >Petr Prokša</a></h3>
              <em>Partner</em>
              <p class="person-bio-content" >

Pohyboval se v IT oblasti, zejména v bankovnictví, v různých nadnárodních korporacích (HVB Bank, dnešní UniCredit Bank), zastával roli vedoucího divize Electronic Services (systémy elektronického bankovnictví) GE Money Bank; vedení systémové bankovní fúze v oblasti přímého bankovnictví. Představuje zkušenost z oblasti vedení řady rozsáhlých projektů.
V letech 1994 – 1995 dosáhl Certificate in Management of MBA na Nottingham Trend University.
V dubnu 2006 získává licenci Ministerstva práce a sociálních věcí ČR ke zprostředkování zaměstnání.
Počátkem roku 2010 se stal zakládajícím partnerem společnosti CV Relevant, s.r.o.
Jazyky: angličtina (professional proficiency)
              </p>
            </div>
          </div>
        </div><!--person col end-->

        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="/assets/images/tym/jiri-soljak.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3 class="h--link"><a class="person-bio" href="javascript:void(0)" >Jiří Soljak</a></h3>
              <em>Partner</em>
              <p class="person-bio-content" >
Působil v řadě mezinárodních i lokálních ICT společností nejprve jako business konzultant a projektový manažer. Později ve vrcholovém managementu v pozicích odpovědných za obchodní rozvoj, řízení realizací a lidské zdroje (CSC, NCR, Teradata,  Soitron, Algotech).
Nabízí praktické zkušenosti v oblasti podnikového managementu, řízení změn a projektů, budování týmů a tvorbu firemní kultury.
Zkušenosti z vrcholového managementu mu umožňují nahlížet na témata komplexně; od vize přes strategii a realizaci, k dosažení požadovaných cílů. Je certifikovaný kouč akreditovaný programem European Mentoring and Coaching Council (EMCC).
Od roku 2013 je partnerem společnosti.
Jazyky: angličtina (professional proficiency)
              </p>
            </div>
          </div>
        </div><!--person col end-->

        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="/assets/images/tym/denisa-cuprova.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3 class="h--link"><a class="person-bio" href="javascript:void(0)" >Denisa Čuprová</a></h3>
              <em>Senior Consultant</em>
              <p class="person-bio-content" >
Denisa má 10-ti letou zkušenost z oblasti personalistiky. Její HR praxe zasahuje do oblastí zavedení procesů personální společnosti (start-up), vybudování a vedení týmu konzultantů, odpovědnost za celkový proces náboru zaměstnanců pro zákazníky; zodpovědnost za všechny HR procesy (nábor, adaptace, vzdělávání a rozvoj, hodnotící pohovory, motivace, interní komunikace, firemní kultura, HR marketing). V posledních několika letech se velmi osvědčila v oblasti vyhledávání a náboru expertů v oblasti IT.
              </p>
            </div>
          </div>
        </div><!--person col end-->

        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="/assets/images/tym/jiri-jarosevsky.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3 class="h--link"><a class="person-bio" href="javascript:void(0)" >Jiří Jaroševský</a></h3>
              <em>IT Recruitment Consultant</em>
              <p class="person-bio-content" >
Jirka se pohybuje v oblasti personalistiky více než rok a i přes tuto relativně krátkou dobu prokázal potřebnou empatii, obchodní cítění, serioznost. Je konzultantem se zaměřením na IT pozice,  Contracting, případně Sales.
Jazyky: angličtina, středně pokročilý.
              </p>
            </div>
          </div>
        </div><!--person col end-->

        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="/assets/images/tym/kateryna-petrikova.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3 class="h--link"><a class="person-bio" href="javascript:void(0)" >Kateryna Petříková</a></h3>
              <em>Consultant</em>
              <p class="person-bio-content" >
V oblasti HR získává zkušenosti od roku 2005, v oblastech Executive Search, Recruitment, organizace náborových aktivit, včetně organizace účasti na veletrzích práce, byla zodpovědná za rozvoj lidských zdrojů, za dodržování zákonů o zaměstnanosti. Hledá kandidáty i na velmi specializované pozice, díky jazoykovému vybavení nabízí Executive Search s mezinároním přesahem.<br />
Jazyky: Ruština (native), Ukrajinština (billingual), Angličtina (komunikativní)
              </p>
            </div>
          </div>
        </div><!--person col end-->

        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="/assets/images/tym/veronika-cvesprova.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3 class="h--link"><a class="person-bio" href="javascript:void(0)" >Veronika Cvešprová</a></h3>
              <em>IT Recruiter</em>
              <p class="person-bio-content" >
Veronika studovala v Columbii obor Communications and Media, v oblasti HR získává zkušenosti od roku 2015. Disponuje certifikátem Black Belt in Recruiting a má zkušenosti s obsazování pozic v IT oboru, např. .NET Development, FE Developer, QA tester, Solution architect, IT PM. Jazykové znalosti jí umožňují nabízet pracovní příležitosti kandidátům např. ze Španělska a Portugalska.
Jazyky: Angličtina (komunikativní), Španělština (bilingual), Italština (středně pokročilá).
              </p>
            </div>
          </div>
        </div><!--person col end-->

        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="/assets/images/tym/david-cap.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3 class="h--link"><a class="person-bio" href="javascript:void(0)" >David Čáp</a></h3>
              <em>IT Recruiter</em>
              <p class="person-bio-content" >
David je student Vysoké školy ekonomické v Praze, spolupracuje s námi jako kvalitní recruiter; má velmi dobrý přehled v IT technologiích a hlubokou znalost sítě LinkedIn. Na projektech se podílí zejména formou vyhledávání vhodných kandidátů, zpracováním podkladů pro reporty o kandidátech, interním školením s technologickým zaměřením.
Jazyky: angličtina (komunikativní)
              </p>
            </div>
          </div>
        </div><!--person col end-->

        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="/assets/images/tym/lucie-francova.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3 class="h--link"><a class="person-bio" href="javascript:void(0)" >Lucie Francová</a></h3>
              <em>Researcher, Office Manager</em>
              <p class="person-bio-content" >
Lucka doplňuje týmovou spolupráci poskytování kvalitního office managemetu, podporou konzultantů, inzertní činností, organizací schůzek, provádí research i složitých odborných pozic; zajišťuje firemní back office a kvalitu dat ve firemní databázi.
              </p>
            </div>
          </div>
        </div><!--person col end-->



      </div>
    </section><!--our team v-2-->

    <section class="content-section section-darker section-etika-pomahame" id="zasady-a-etika">
      <div class="container">
        <div class="col-sm-4 etika">
          <div class="center-heading">
            <h2 class="h--link"><a href="/zasady-a-etika/index.html">Zásady a etika</a></h2>
            <span class="center-line"></span>
          </div>
          <div>
            <ul class="list-inline icon-list">
              <li>
                <i class="fa fa-flag-checkered"></i>
                <div>Začínáme tam, kde to ostatní vzdávají</div>
              </li>
              <li>
                <i class="fa fa-graduation-cap"></i>
                <div>Odborný background</div>
              </li>
              <li>
                <i class="fa fa-thumbs-up"></i>
                <div>Férové jednání</div>
              </li>
              <li>
                <i class="fa fa-users"></i>
                <div>Dlouhodobé vztahy</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 section-pomahame">
          <div class="center-heading">
            <h2>Daří se nám a proto rádi pomáháme ostatním</h2>
            <span class="center-line"></span>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 person" >
              <img src="/assets/images/adopce-na-dalku.jpg" alt="" />
              <div>Dlouhodobě se účastníme projektu <a href="http://praha.charita.cz/zahranici/adopce-na-dalku/" target="_blank" ><strong>Arcidiecézní charity Praha - “Adopce na dálku”</strong></a>; poskytujeme prostředky na vzdělání  studentů v Indii.</div>
            </div>
            <div class="col-xs-6 col-sm-6 person" >
              <img src="/assets/images/kostel-sv-jakuba.jpg" alt="" />
              <div>Účastnili jsme se generální opravy kostela sv. Jakuba  Většího (městys Kounice, okr. Nymburk), který je kulturní památkou II. třídy.</div>
            </div>
          </div>
        </div>

      </div>
    </section>

{{>footer-cs}}
