{{>header}}
    <section class="hero-banner content-section">
      <img class="hero-banner-bg" src="assets/images/hero-banner.jpg" alt="" />
      <div class="hero-banner-content container">
        <div class="col-sm-4">
        <h2 class="wow fadeInDown h--link" ><a href="contracting/index.html" title="Contracting">Contracting</a></h2>
          <ul class="list-unstyled aspects">
            <li class="wow fadeInRight" data-wow-delay="400ms">
              <i class="fa fa-user"></i>Nabídka IT expertů
            </li>
            <li class="wow fadeInRight" data-wow-delay="500ms">
              <i class="fa fa-user"></i>Technologická specializace
            </li>
            <li class="wow fadeInRight" data-wow-delay="600ms">
              <i class="fa fa-user"></i>Referencemi ověření specialisté
            </li>
            <li class="wow fadeInRight" data-wow-delay="700ms">
              <i class="fa fa-user"></i>Rychlost
            </li>
            <li class="wow fadeInRight" data-wow-delay="800ms">
              <i class="fa fa-user"></i>Dynamika
            </li>
          </ul>
          <p class="text-right">
            <a href="/contracting/index.html" class="btn btn-theme-dark">Více&hellip;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="wow fadeInDown h--link" data-wow-delay="300ms" ><a href="headhunting/index.html" title="Headhunting">Headhunting</a></h2>
          <ul class="list-unstyled aspects">
            <li class="wow fadeInRight" data-wow-delay="700ms">
              <i class="fa fa-user"></i>Executive Search
            </li>
            <li class="wow fadeInRight" data-wow-delay="800ms">
              <i class="fa fa-user"></i>Osobní kontakty
            </li>
            <li class="wow fadeInRight" data-wow-delay="900ms">
              <i class="fa fa-user"></i>Doporučení
            </li>
            <li class="wow fadeInRight" data-wow-delay="1000ms">
              <i class="fa fa-user"></i>Manažerská zkušenost
            </li>
            <li class="wow fadeInRight" data-wow-delay="1100ms">
              <i class="fa fa-user"></i>Partnerský přístup
            </li>
          </ul>
          <p class="text-right">
            <a href="/contracting/index.html" class="btn btn-theme-dark">Více&hellip;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="wow fadeInDown" data-wow-delay="600ms" >Relevantní pozice</h2>
          <ul class="list-unstyled icon-list">
            <li class="wow fadeIn" data-wow-delay="800ms">
              <i class="fa fa-university"></i>
              <div>Solution Architect</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="700ms">
              <i class="fa fa-database"></i>
              <div>Senior DB Architect</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="900ms">
              <i class="fa fa-line-chart"></i>
              <div>Business Analyst</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="1000ms">
              <i class="fa fa-comments"></i>
              <div>Consultant</div>
            </li>
            <li class="wow fadeIn" data-wow-delay="1100ms">
              <i class="fa fa-coffee"></i>
              <div>Java Architect</div>
            </li>
          </ul>
          <p class="text-right">
            <a href="/contracting/index.html" class="btn btn-theme-dark">Ukázka obsazených pozic</a>
          </p>
        </div>
      </div>
    </section>

    <section class="fun-fact-wrap fun-facts-bg content-section section-v-cislech">
      <div class="container">
        <div class="col-sm-4 facts-in">
          <h3><span class="counter">267</span></h3>
          <h4>Obsazených pozic</h4>
        </div><!--facts in-->
        <div class="col-sm-4 facts-in">
          <h3><span class="counter">8685</span></h3>
          <h4>Evidovaných uchazečů</h4>
        </div><!--facts in-->
        <div class="col-sm-4 facts-in">
          <h3><span class="counter">59</span></h3>
          <h4>Otevřených pozic</h4>
        </div><!--facts in-->
      </div>
    </section><!--fun facts-->

    <section class="content-section section-nasi-klienti">
      <div class="container">
        <div class="center-heading col-sm-8 col-sm-offset-2 no-margin-bottom">
          <h2>Naši klienti</h2>
          <span class="center-line"></span>
        </div>
      </div>
      <div class="logo-strip">
        <a href="https://www.rb.cz/osobni" target="_blank"><img src="http://img.firmy.cz/logo/medium/201309/0307/a0/52258e12a0bef1c79a260000?v=1" width="90" alt="Raiffeisenbank a.s."></a>
        <img src="http://img.firmy.cz/logo/medium/201202/2416/da/4f47bd74da391b07a02f0000?v=1" width="90" alt="Raventia, s.r.o.">
        <img src="http://img.firmy.cz/logo/medium/201202/2910/a3/4f4e03e4a38c0966cb1d0000?v=1" width="90" alt="Your System, spol. s r.o.">
        <img class="small_logo" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAATKAAAAJGM5MzMyOTlhLTE5YzAtNGMyNi1hYmJjLWYxNzJkNWYwZTIyOQ.png" width="90" alt="Softec CZ, spol. s r.o.">
        <img src="http://img.firmy.cz/logo/medium/201404/1514/d9/534d448fd9cafde1ac1a0000?v=1" width="90" alt="Českomoravská stavební spořitelna, a.s.">
        <img src="http://img.firmy.cz/logo/medium/201404/0819/a2/534447f5a2d0d806b5130000?v=1" width="90" alt="Algotech BSC, s.r.o">
        <img src="http://img.firmy.cz/logo/medium/201202/2416/65/4f47bea3651e62e228200000?v=1" width="90" alt="DATART.cz">
        <img src="http://img.firmy.cz/logo/medium/201202/2416/39/4f47bd9a3914c4c3762b0000?v=1" width="90" alt="EOS KSI Česká republika, s.r.o.">
        <img src="http://img.firmy.cz/logo/medium/201212/1710/30/50cef932305ecb47a5130000?v=1" width="90" alt="Allianz pojišťovna, a.s.">
        <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAO5AAAAJGYwYzEyNDkxLThmNmEtNDcwOS1hYmIyLTEyYWUzNmY0NDVlMQ.png" width="90" alt="Trask solutions a.s.">
        <img src="https://www.ccb.cz/data/images_aqua_prehledy/unicorn_logo_n.png" width="90" alt="Unicorn a.s.">
        <img src="http://static.voyo.cz.prg.cmestatic.com/static/cz/shared/img/eshop/linear/product_28992.png?a" width="90" alt="CET 21 spol. s r.o.">
    </section>

    <section class="testimonials-v-2 section-darker section-reference" >
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
              <h2 class="h--link"><a href="/reference/index.html" title="Reference">Reference</a></h2>
              <span class="center-line"></span>
            </div>
          </div>
        </div><!--center heading end-->


        <div class="testi-slide">
          <ul class="slides">
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/icon-female.jpg" alt="" />
                    <div class="person-name">Aneta Lipská</div>
                    <em class="person-position">HR Specialist</em>
                    <div class="person-company">Reiffeisenbank a.s.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>“Ráda bych pochválila spolupráci se společností CV Relevant, s.r.o., Cením si kvality zaslaných kandidátů, ale také rychlosti jejich dodání, i když se často jedná o <cite>velmi náročné pozice</cite>, kde jiné agentury nemají úspěchy a nedodávají žádné kandidáty. Za celou dobu spolupráce se nestalo, že by nebylo reagováno na mail či telefon, <cite>komunikace je rychlá a efektivní</cite>. Oceňuji také stručnou charakteristiku zasílaných kandidátů, která vystihuje jejich zkušenosti, ale i osobnostní profil. Kandidáti ví mnoho podrobností o pozici, nestává se, že by přišel kandidát, který by nevěděl, o co se jedná, nebo jeho zájem byl nedostatečný. Děkuji za spolupráci a ať se Vám daří. “</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/icon-male.png" alt="" />
                    <div class="person-name">Pavel Z.</div>
                    <em class="person-position">Senior Developer .NET</em>
                    <div class="person-company">Oracle, Praha</div>
                    <div class="person-date">30/06/2015</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Vážení, ještě jednou děkuji za spolupráci a za zprostředkování mého nového zaměstnání. Spolupráce ze strany společnosti CV Relevant, s.r.o. byla <cite>vysoce profesionální</cite>, osobní pohovor byl veden v přátelském duchu, kdy však obě strany získaly potřebné informace. Díky Vám se mi podařilo získat velice zajímavou práci v nadnárodní finanční instituci za velmi zajímavých finančních podmínek. Spolupráci se společností <cite>CV Relevant, s.r.o. mohu doporučit všem uchazečům</cite>, kteří hledají novou zajímavou práci.“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/icon-male.jpg" alt="" />
                    <div class="person-name">Zdeněk Č.</div>
                    <em class="person-position">Head of Application Development</em>
                    <div class="person-company">Reiffeisenbank a.s.</div>
                    <div class="person-date">30/06/2015</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Dlouho jsme se snažili obsadit v IT poměrně úzkoprofilovou pozici a přes poměrně intenzivní spolupráci s agenturami a hledání vlastními silami jsme nedokázali najít téměř žádného kandidáta s požadovaným profilem. Po navázání spolupráce se společností CV Relevant, s.r.o. nám dokázala v krátké době dodat velmi kvalitní seznam i s kvalitním hodnocením nalezených uchazečů. Osobně jsem byl nadšen nejen tím, že uspěla, kde jiní selhali, moc se mi líbil celý přístup k náboru, hodnocení kandidátů a příjemná a velmi <cite>precizní komunikace</cite>. Mohli jsme se tak už jen soustředit na vlastní <cite>výběr nejlepšího kandidáta</cite>. Děkuji.“</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/icon-female.jpg" alt="" />
                    <div class="person-name">Lenka K.</div>
                    <em class="person-position">HR Specialista</em>
                    <div class="person-company">DATART INTERNATIONAL, a. s.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„<cite>Spolupráce se společností CV Relevant je velmi profesionální, příjemná a efektivní.</cite> Reporty o kandidátech jsou velmi precizní a podrobné. Oceňuji také snahu zjistit co nejvíce informací o naší společnosti, konkrétním týmu a způsobu práce. Domnívám se, že je to nejlepší postup, jak najít vhodné kandidáty. <cite>Se všemi kandidáty, které jsme společně našli, jsme spokojeni.</cite>“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/icon-male.jpg" alt="" />
                    <div class="person-name">Lubomir J.</div>
                    <em class="person-position">Managing Director</em>
                    <div class="person-company">GDF SUEZ Prodej plynu s.r.o.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Firma GDF SUEZ začala působit na českém energetickém trhu po jeho liberalizaci v roce 2010. Protože většina ostatních firem se v ČR již tou dobou na poli energetiky etablovala, byli jsme nuceni si urychleně vytvořit síť spolehlivých partnerů a nadprůměrně efektivních dodavatelů. Firma CV Relevant je jedním z nich. Umožňuje nám efektivně najít ty nejkvalitnější zaměstnance a partnery a začlenit je do našeho kolektivu.“</p>
                  </div>
                </div>
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/icon-male.jpg" alt="" />
                    <div class="person-name">Pavel F.</div>
                    <em class="person-position">Business Development Manager</em>
                    <div class="person-company">CapacityPro, s.r.o.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Díky nasazení a odbornosti konzultantů ze společnosti CV Relevant jsme byli schopni ve velice krátkém čase obsadit námi požadované pozice. Velkou předností CV Relevant je to, že dokáží udělat velice dobře <cite>výběr vhodných kandidátů</cite>, kteří plně odpovídají zadaným požadavkům. Nakonec pro nás bylo nejtěžší si vybrat toho nejlepšího uchazeče, protože všichni doporučení kandidáti byli velice dobří.“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->
            <li>
              <div class="div row">
                <div class="col-md-6 reference">
                  <div class="col-sm-3 person" >
                    <img src="assets/images/icon-male.jpg" alt="" />
                    <div class="person-name">Lukáš C.</div>
                    <em class="person-position">Sales Director</em>
                    <div class="person-company">Siemens Enterprise Communications s.r. o.</div>
                  </div>
                  <div class="col-sm-9">
                    <p>„Spolupráce s agenturou CV Relevant byla pro mne velmi pozitivní především díky tomu, že opravdu velmi rychle pochopili naše potřeby a požadavky, které hledaní kandidáti museli splňovat. Díky tomu se nám od samého začátku spolupráce velmi rychle dařilo nalézt ty kandidáty, kteří splňovali naše představy. Velmi kladně také vnímám nadstandardní podporu ze strany CV Relevant při zajišťování "back office" podpory v době rekonstrukce sídla naší společnosti.“</p>
                  </div>
                </div>
              </div>
            </li><!--testi item-->

          </ul>
        </div><!--flex slider testimonials end here-->

      </div>
    </section><!--testimonials v-2 end-->

    <section class="our-team content-section section-tym">
      <div class="center-heading container">
        <h2>Tým</h2>
        <span class="center-line"></span>
      </div>
      <div class="container">
        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="assets/images/team-5.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3>ing. Petr Prokša</h3>
              <em>pozice / specializace</em>
              <p>
                <i class="fa fa-phone"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000<br />
                <a href="mailto:petr.proksa@cvrelevant.cz" title="poslat e-mail na petr.proksa@cvrelevant.cz" >petr.proksa@cvrelevant.cz</a>
              </p>
            </div>
          </div>
        </div><!--person col end-->
        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="assets/images/team-5.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3>ing. Petr Prokša</h3>
              <em>pozice / specializace</em>
              <p>
                <i class="fa fa-phone"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000<br />
                <a href="mailto:petr.proksa@cvrelevant.cz" title="poslat e-mail na petr.proksa@cvrelevant.cz" >petr.proksa@cvrelevant.cz</a>
              </p>
            </div>
          </div>
        </div><!--person col end-->
        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="assets/images/team-5.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3>ing. Petr Prokša</h3>
              <em>pozice / specializace</em>
              <p>
                <i class="fa fa-phone"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000<br />
                <a href="mailto:petr.proksa@cvrelevant.cz" title="poslat e-mail na petr.proksa@cvrelevant.cz" >petr.proksa@cvrelevant.cz</a>
              </p>
            </div>
          </div>
        </div><!--person col end-->
        <div class="col-sm-6 col-md-3 text-center">
          <div class="person-v2">
            <img src="assets/images/team-5.jpg" class="img-responsive" alt="">
            <div class="person-desc-v2">
              <h3>ing. Petr Prokša</h3>
              <em>pozice / specializace</em>
              <p>
                <i class="fa fa-phone"></i>&ensp;+420&nbsp;000&nbsp;000&nbsp;000<br />
                <a href="mailto:petr.proksa@cvrelevant.cz" title="poslat e-mail na petr.proksa@cvrelevant.cz" >petr.proksa@cvrelevant.cz</a>
              </p>
            </div>
          </div>
        </div><!--person col end-->

      </div>
    </section><!--our team v-2-->

    <section class="content-section section-darker section-etika-pomahame">
      <div class="container">
        <div class="col-sm-4 etika">
          <div class="center-heading">
            <h2 class="h--link"><a href="/etika/index.html">Etika</a></h2>
            <span class="center-line"></span>
          </div>
          <div>
            <ul class="list-inline icon-list">
              <li>
                <i class="fa fa-flag-checkered"></i>
                <div>Začínáme tam, kde to ostatní vzdávají</div>
              </li>
              <li>
                <i class="fa fa-graduation-cap"></i>
                <div>Odborný background</div>
              </li>
              <li>
                <i class="fa fa-thumbs-up"></i>
                <div>Férové jednání</div>
              </li>
              <li>
                <i class="fa fa-users"></i>
                <div>Dlouhodobé vztahy</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 section-pomahame">
          <div class="center-heading">
            <h2>Pomáháme</h2>
            <span class="center-line"></span>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-3 person" >
              <img src="assets/images/customer-1.jpg" alt="" />
              <div class="person-name">Aneta Lipská</div>
              <em class="person-position">HR Specialist</em>
              <div class="person-company">Reiffeisenbank a.s.</div>
              <div class="person-date">30/06/2015</div>
            </div>
            <div class="col-xs-6 col-sm-3 person" >
              <img src="assets/images/customer-1.jpg" alt="" />
              <div class="person-name">Aneta Lipská</div>
              <em class="person-position">HR Specialist</em>
              <div class="person-company">Reiffeisenbank a.s.</div>
              <div class="person-date">30/06/2015</div>
            </div>
            <div class="col-xs-6 col-sm-3 person" >
              <img src="assets/images/customer-1.jpg" alt="" />
              <div class="person-name">Aneta Lipská</div>
              <em class="person-position">HR Specialist</em>
              <div class="person-company">Reiffeisenbank a.s.</div>
              <div class="person-date">30/06/2015</div>
            </div>
            <div class="col-xs-6 col-sm-3 person" >
              <img src="assets/images/customer-1.jpg" alt="" />
              <div class="person-name">Aneta Lipská</div>
              <em class="person-position">HR Specialist</em>
              <div class="person-company">Reiffeisenbank a.s.</div>
              <div class="person-date">30/06/2015</div>
            </div>
          </div>
        </div>

      </div>
    </section>

{{>footer}}
