{{>../header active='etika-a-zasady' lang='cs'}}

<div class="container">
  <article class="blog-post">
    <div class="blog-post-title-image">
      <img src="/assets/images/veslari.jpg" class="img-responsive" alt="">
    </div>

    <h1>Zásady a etika</h1>

    <ul class="list-inline icon-list row">
      <li class="col-xs-3">
        <i class="fa fa-flag-checkered"></i>
        <div>Začínáme tam, kde to ostatní vzdávají</div>
      </li>
      <li class="col-xs-3">
        <i class="fa fa-graduation-cap"></i>
        <div>Odborný background</div>
      </li>
      <li class="col-xs-3">
        <i class="fa fa-thumbs-up"></i>
        <div>Férové jednání</div>
      </li>
      <li class="col-xs-3">
        <i class="fa fa-users"></i>
        <div>Dlouhodobé vztahy</div>
      </li>
    </ul>

    <p class="text-center"><span class="center-line"></span></p>

    <ul class="text-columns ">
      <li>Přidanou hodnotu tvoříme díky backgroundu a senioritě našich konzultantů, kteří pracovali řadu let v odborných a manažerských pozicích (Banking, IT a TELCO). Klíčová slova v popisech pozic pro ně nejsou prázdnými pojmy.</li>
      <li>Naše klienty nezahrnujeme sadou životopisů, ale prezentujeme ty nejvhodnější kandidáty, relevantní k obsazované pozici.</li>
      <li>Chceme budovat dlouhodobé vztahy s našimi klienty.</li>
      <li>Důvěrnost informací o klientech i kandidátech je nezbytným předpokladem naší profesionální práce.</li>
      <li>Zajímá nás spokojenost klienta i kandidáta i po úspěšném obsazení pozice a další profesní růst kandidáta, protože ten je předpokladem k efektivní dlouhodobé spolupráci mezi klientem a kandidátem.</li>
      <li>Klademe důraz na porozumění odborných parametrů pozice, ale i požadavků na soft skills kandidátů, jejich relevanci vzhledem k firemní kultuře, začlenění do týmu apod.</li>
      <li>Jsme si vědomi toho, že každý mandát k obsazení pozice je   jedinečný.</li>
      <li>Pravdivé a férové jednání vůči klientům i   kandidátům je samozřejmostí.</li>
      <li>Naše společnost vznikla v době, kdy řada podobných společností svoji činnost ukončila; to charakterizuje náš přístup a odvahu – „začínáme tam, kde to ostatní vzdávají“.</li>
      <li>Naším cílem je vybudovat respektovanou konzultační a personální společnost, která bude synonymem profesionality, lidského přístupu, pochopení požadavků klienta a schopnosti přiřadit relevantního kandidáta na relevantní pracovní místo u klienta.</li>
    </ul>





















  </article>
</div>

{{>../footer-cs}}
